{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}About Bilaf{% endblock %}


{% block content %}

<div class="body" style="align-items: center; text-align: center; justify-content: left;">
    <h2 class="body title">Bilaf</h2>
    <p class="body text">An online portal that serves as the primary platform for family brands to promote and sell their items..</p>
    <h4 class="body text">Developed With:</h4>
        <ul>
            <li>Django</li>
            <li>ProtesgreSQL</li>
            <li>Python</li>
            <li>ElephantSQL</li>
        </ul>
</div>

{% endblock %}