{% extends 'main_app/home_page.html' %}
{% load static %}
{% block title %}About Us{% endblock %}


{% block content %}
<div class="body" style="align-items: center; text-align: center; justify-content: left;">
    <h2 class="body title">Tuwaiq Group</h2>
    <p class="body text">We're a group of four people looking to produce an app that can revoulotioinzie the industry and help the targeted audience.</p>
    <h4 class="body text">Members:</h4>
        <ul>
            <li>Omar Ali</li>
            <li>Faisal Al-Hussain</li>
            <li>Mohammed Al-Khabbaz</li>
            <li>Abdullah Al-Saab</li>
        </ul>
</div>

{% endblock %}