<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!--boost strap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Css Styles -->
    {% load static %}
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %} type="text/css">
    <link rel="stylesheet" href={% static 'css/font-awesome.min.css' %} type="text/css">
    <link rel="stylesheet" href={% static 'css/elegant-icons.css' %} type="text/css">
    <link rel="stylesheet" href={% static 'css/nice-select.css' %} type="text/css">
    <link rel="stylesheet" href={% static 'css/jquery-ui.min.css' %} type="text/css">
    <link rel="stylesheet" href={% static 'css/owl.carousel.min.css' %} type="text/css">
    <link rel="stylesheet" href={% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href={% static 'css/style.css' %} type="text/css">
</head>
<Body>


    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">

        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i><span></span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i><span></span></a></li>
            </ul>
            <div class="header__cart__price"><span></span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">

                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="{% url 'main_app:home_page' %}">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'users_app:signout_page' %}"><i class="fa fa-user"></i> Sign Out</a>
                {% else %}
                    <div>Account</div>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a href="{% url 'users_app:login' %}">Login</a></li>
                        <li><a href="{% url 'users_app:signup' %}">Sign Up</a></li>
                    </ul>
                {% endif %}       
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'main_app:home_page' %}">Home</a></li>
                <li><a href="{% url 'main_app:store_page' %}">Stores</a></li>
                {% if request.user.is_authenticated and request.user.is_costumer %}
                    <li><a href="{% url 'main_app:order_status' %}">Order Status</a></li>
                    <li><a href="#">Profile</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="#">Edit Profile</a></li>
                            <li><a href="#">Past Orders</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Costumer Support</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_merchant %}
                    <li><a href="{% url 'main_app:order_status' %}">Order Status</a></li>
                    <li><a href="#">Profile</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="#">Store</a></li>
                            <li><a href="#">Past Orders</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <li><a href="#">Administration</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="#">Merchants</a></li>
                            <li><a href="#">Abnormal Orders</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="humberger__menu__contact">
            <ul>
                {% if request.user.is_authenticated%}
                    <li><i class="fa fa-envelope"></i> {{request.user.email}}</li>
                    <li>Welcome, {{request.user.username}}.</li>
                {% else %}
                    <li>Welcome to Bilaf, a platform that makes small family brands more accessible.</li> 
                    {% endif %} 
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
        <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                {% if request.user.is_authenticated %}
                                <li><i class="fa fa-envelope"></i> {{request.user.email}}</li>
                                <li>Welcome, {{request.user.username}}.</li>
                                {% else %}
                                <li>Welcome to Bilaf, a platform that makes small family brands more accessible.</li> 
                                {% endif %} 
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__language">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="{% url 'main_app:home_page' %}">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'users_app:signout_page' %}"><i class="fa fa-user"></i> Sign Out</a>
                                {% else %}
                                <div><a href="{% url 'users_app:login' %}">Account</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row p-2">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'main_app:home_page' %}"><img width="100%" height="80rem" src="{% static 'img/logo.png' %}" alt="Bilaf Logo"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'main_app:home_page' %}">Home</a></li>
                            <li><a href="{% url 'main_app:store_page' %}">Stores</a></li>
                            {% if request.user.is_authenticated and request.user.is_costumer %}
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Profile</a>
                                    <ul class="header__menu__dropdown">
                                        <li><a href="#">Edit Profile</a></li>
                                        <li><a href="#">Past Orders</a></li>
                                        <li><a href="#">Reviews</a></li>
                                        <li><a href="#">Payment Options</a></li>
                                        <li><a href="#">Costumer Support</a></li>
                                        <li><a href="{% url 'users_app:became_merchant' %}" style="text-decoration: underline;">Become Merchant</a></li>
                                    </ul>
                                </li>
                            {% endif %}	
                            {% if perms.main_app.delete_categories and not perms.main_app.delete_user  %}
                                <li><a href="{% url 'main_app:order_status' %}">Order Status</a></li>
                                <li><a href="#">Profile</a>
                                    <ul class="header__menu__dropdown">
                                        <li><a href="{% url 'main_app:product_page'  %}">My Store</a></li>
                                        <li><a href="{% url 'main_app:add_product' %}">Add Product</a></li>
                                        <li><a href="#">Past Orders</a></li>
                                        <li><a href="#">Reviews</a></li>
                                        <li><a href="">Dashboard</a></li>
                                        <li><a href="#">Support</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if request.user.is_authenticated and request.user.is_staff %}
                                <li><a href="#">Administration</a>
                                    <ul class="header__menu__dropdown">
                                        <li><a href="#">Merchants</a></li>
                                        <li><a href="#">Abnormal Orders</a></li>
                                        <li><a href="#">Reviews</a></li>
                                        <li><a href="#">Dashboard</a></li>
                                        <li><a href="#">Support</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>

                            <li><a href="#"><i class="fa fa-shopping-bag"></i><span></span></a></li>

                        </ul>
                        <div class="header__cart__price"><span></span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Breadcrumb Section Begin -->
         <section class="breadcrumb-section set-bg" data-setbg={% static 'img/became_merchant_header.png' %}>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                        <h2> {% block header %}Productive Family{% endblock %}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Breadcrumb Section End -->

    {% block content %}
    {% endblock %}
    <!-- Footer Section Begin -->
    <footer class="footer spad mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="{% url 'main_app:home_page' %}"><img width="100%" height="100rem" src="{% static 'img/logo.png' %}" alt="Bilaf Logo"></a>
                        </div>
                        <ul>
                            <li>Address: Riyadh, Saudi Arabia</li>
                            <li>Phone: +966 999 999 999</li>
                            <li>Email: admin@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="{% url 'main_app:about_us' %}">Frequent Questions</a></li>
                            <li><a href="{% url 'main_app:about_bilaf' %}">About The Project</a></li>
                            <li><a href="{% url 'users_app:became_merchant' %}">Become Merchant</a></li>
                            <li><a href="{% url 'main_app:policies' %}">Delivery/Pickup Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Social Media</h6>
                        <div class="footer__widget__social">
                            <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.snapchat.com/"><i class="fa fa-snapchat"></i></a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <div class="footer__copyright">
                    <div class="footer__copyright__text">
                      <p>Bilaf - <script>document.write(new Date().getFullYear());</script></p>
                    </div>
                  </div>
                </div>
            </div>
              
        </div>
    </footer>
    <!-- Footer Section End -->
        


    <!-- Js Plugins -->
    <script src={% static 'js/jquery-3.3.1.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/jquery.nice-select.min.js' %}></script>
    <script src={% static 'js/jquery-ui.min.js' %}"></script>
    <script src={% static 'js/jquery.slicknav.js' %}></script>
    <script src={% static 'js/mixitup.min.js' %}></script>
    <script src={% static 'js/owl.carousel.min.js' %}></script>
    <script src={% static 'js/main.js' %}></script>   
    <!-- add--> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
</Body>

</html>
