{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}Bilaf{% endblock %}

{% block content%}
 <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories my-5">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Cuisines</span>
                        </div>
                        <ul>
                            {% for category in all_store_categories  %}
                            <li><a href="">{{category}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 my-5">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="{% url 'main_app:search' %}" name="search" method="GET", role="search">
                                <div class="hero__search__categories">
                                    <select name="filter" style="outline: none; border: none;">
                                        <option value="">Cuisines</option>
                                        <option value="Saudi-Arabian">Saudi-Arabian</option>
                                        <option value="Syrian">Syrian</option>
                                        <option value="Egyptian">Egyptian</option>
                                        <option value="Indian">Indian</option>
                                        <option value="Chinese">Chinese</option>
                                        <option value="Italian">Italian</option>
                                        <option value="Mixed">Mixed</option>
                                    </select>
                                </div>
                                <input type="text" name="search" placeholder="Something in mind?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>

                    </div>
                    <div class="hero__item set-bg my-5" data-setbg={% static 'img/banner1.png' %}>
                        <div class="hero__text">
                            <span>Best Dishes</span>
                            <h2>Tasty <br />100% Local</h2>
                            <p>Pickup and Delivery Available</p>
                            <a href="{% url 'main_app:store_page' %}" class="primary-btn">SHOP NOW</a>
                            <p>"Pickup and Delivery varies per merchant"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Featured Stores</h2>
                </div>
                <div class="categories__slider owl-carousel">
                    {% for store in stores %}
                    <div class="col-md-12">
                        <div class="categories__item set-bg" style="background-repeat: no-repeat; background-size: cover;background-position: top center;" data-setbg="{{store.logo.url}}">
                            <h5><a href="{% url 'main_app:store_page' %}">{{store.store_name}}</a></h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Categories</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            {% for category in categories %}
                                <li data-filter=".{{category.name}}">{{category.name}}</li>   
                            {% endfor %}
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% for product in products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix {{product.category.name}}">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" style="background-repeat: no-repeat; background-size: cover;background-position: top center;" data-setbg="{{product.image.url}}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="{% url 'main_app:product_detail' product.id %}">{{product.name}}</a></h6>
                            <h5>{{product.price}} SR</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
        {% endblock %}

