{% extends 'main_app/home_page.html' %}
{% load static %}
{% block title %}Policices{% endblock %}


{% block content %}
<div class="body" style="align-items: center; text-align: center; justify-content: left;">
    <h2 class="body title">Pickup\Delivery Policices</h2>
    <p class="body text">Policing is predefined. When our merchants register on our website, they must indicate their availability. To improve everyone's experience.</p>
    <h4 class="body text">How To Know:</h4>
        <ul>
            <li>On the brand page externally</li>
            <li>On the brand page internally</li>
            <li>Brand's about page</li>
        </ul>
</div>

{% endblock %}