{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}Prodcts Page{% endblock %}
{% block content%}

    <!-- products section -->
    <div class="container col-xxl-8 px-4 py-5 mb-5">
        <div class="d-flex flex-column">
            <div class="row">
                {% for products in products %}
                <div class="col-4 g-5">
                    <div class="card" style="width: 18rem;">
                        <img src="{{products.image.url}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{products.name}}</h5>
                            <p class="card-text">{{products.price}}</p>
                        </div>
                        <a href="{% url 'main_app:product_detail' products.id %}" class="btn btn-primary">View More</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
   