{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}Stores Pages{% endblock %}
<li {% block 'store_nav_active' %} class ="active" {% endblock %}
{% block content%}

    <!-- products section -->
            <div class="row p-5">
                {% for store in stores %}
                <div class="col mb-5 col-2 g-2">         
                <div class="card h-100">
                    <!-- Sale badge-->
                    <!-- Product image-->
                    <img class="card-img-top"  src="{{ store.logo.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{store.store_name}}</h5>
                            <!-- Product price-->
                            <span class="text">{{store.category}}</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        {% if not perms.main_app.delete_categories and not perms.main_app.delete_user and request.user.is_authenticated  %}
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main_app:view_store_products' store.id %}">View More</a></div>
                        {% endif %}
                        {% if perms.main_app.delete_categories and not perms.main_app.delete_user  %}
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main_app:product_page' %}">View More</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
                {% endfor %}
            </div>
            {% endblock %}
