{% extends 'main_app/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Order Details {% endblock %}

{% block content%}
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="shoping__cart__table">
                <table>
                <thead>
                    <tr>
                        <th class="shoping__product">Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for item in items %}
                        <td class="shoping__cart__item">
                            <img src="{{item.product.image.url}}" width=100px height=100px alt="">
                            <h5>{{item.product.name}}</h5>
                        </td>
                        
                        <td class="shoping__cart__price">
                            {{item.price}}
                        </td>
                        <td class="shoping__cart__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="{{item.quantity}}" disabled>
                                </div>
                            </div>
                        </td>
                        <td class="shoping__cart__total">
                            {{ item.quantity|multiply:item.price }} SR
                        </td>
                        <td class="shoping__cart__item__close">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="col-lg-6">
        <div class="shoping__checkout">
             <div class="checkout__input__checkbox " >
                <h5>Delivery Option <span></span></h5>
                {% if cart.pick_up_enabled %}
                <li><label>
                    Pick Up At Your House
                    <input type="radio" name="pick_up_enabled" checked="checked">
                    <span class="checkmark"></span>
                </label></li>
                {% else %}
                <li><label>
                    Delivery
                    <input type="radio" name="pick_up_enabled" checked="checked">
                    <span class="checkmark"></span>
                </label></li>
                {% endif %}
            {% comment %} <div class="checkout__input__checkbox mt-1">
            <h5>Peyment Options: <span>*</span></h5>
                            <li><label>
                    Cash
                    <input type="radio" name="pick_up_enabled" >
                    <span class="checkmark"></span>
                </label></li>
                <li><label>
                    online  Payment
                    <input type="radio" name="pick_up_enabled" >
                    <span class="checkmark"></span>
                </label></li>
            </div> {% endcomment %}
        </div> 
        </div>
        </div>   
 
    <div class="col-lg-6">
        <div class="shoping__checkout mp-5">
                    <h5>Cart Total</h5>
            <ul>
                <li>Total <span> {{ total_price }} SR</span></li>
            <h5>Custmore info</h5>
            <ul>
                <li>Name: {{ order.customer }} <span></span></li>
                <li>Phone Number: {{ order.customer.profile.phone_number }} <span></span></li>
            </ul>
        </div>
    </div>
            {% if order.status == "Submited" %}
            <a href="{% url 'main_app:order_action' action='Accept' cart_id=order.id %}" class="btn btn-success">Accept</a>
            <a href="{% url 'main_app:order_action' action='Declined' cart_id=order.id %}"  class="btn btn-danger">Decline</a>
            {% elif order.status == "Active" %} 
            <a href="{% url 'main_app:order_action' action='Done' cart_id=order.id %}"  class="btn btn-primary">Done</a>
            {% endif %}
            {% comment %} <a href="#" class="primary-btn mt-5 ">accept order</a>
            <a href="#" class="primary-btn mt-5 ">delete order</a> {% endcomment %}
    </div>    
</section>

{% endblock %}