{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Responsive Loginform</title>
    <link rel="stylesheet" href={% static 'style/style.css' %} type="text/css">

</head>
<body>
<div class="form-modal">
    
    <div class="form-toggle">
        <button id="login-toggle" onclick="toggleLogin()">log in</button>
        <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
    </div>

    <div id="login-form">
        <form>
            <input type="text" placeholder="Enter email or username"/>
            <input type="password" placeholder="Enter password"/>
            <button type="button" class="btn login">login</button>
            <p><a href="javascript:void(0)">Forgotten account?</a></p>
            <hr/>

        </form>
    </div>

    <div id="signup-form">
        <form>
            <input type="email" placeholder="Enter your email"/>
            <input type="text" placeholder="First name"/>
            <input type="text" placeholder="Last name"/>
            <input type="password" placeholder="Create password"/>

            <button type="button" class="btn signup">create account</button>
            <p>Clicking <strong>create account</strong> means that you are agree to our <a href="javascript:void(0)">terms of services</a>.</p>
            <hr/>
           
        </form>
    </div>

</div>
<script type="text/javascript" src={% static 'js/style.js' %}></script>
</body>
</html>